@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.about {
  &__inner {
    display: flex;
    gap: 32px;
  }

  &__content {
    width: 100%;
    max-width: 493px;
  }

  &__image {
    overflow: hidden;
    border-radius: var(--radius-big);
  }
}
