@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.advantages {
  $root: &;

  margin-bottom: 88px;

  &__inner {
    position: relative;
  }

  &__list {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 803px;
    gap: 16px;
    inset: auto 24px 24px auto;
  }

  &__item {
    overflow: hidden;
    border-radius: var(--radius-big);
    padding: 24px;
    background-color: var(--color-white);
  }
}
