@use "../utils/functions/" as *;
@use "../utils/mixins" as *;

.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    background: var(--gradient-grey);
    inset: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 32px 15px 15px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: calc(var(--radius-main) * 2);
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    h3 {
      margin-bottom: 16px;
    }

    span {
      display: block;
      margin-bottom: 4px;
      font-weight: var(--fw-600);
      font-size: 14px;
      color: var(--color-red-600);
    }
  }

  ul {
    margin-bottom: 16px;
    padding-left: 23px;

    li {
      position: relative;
      font-size: 14px;

      &::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 4px;
        left: -14px;
        top: 9px;
        border-radius: 50%;
        background-color: var(--color-white);
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  img {
    width: 100%;

    @include media(mobile-m) {
      aspect-ratio: 2/1;
    }
  }

  .btn {
    margin-top: auto;
    max-width: 100%;
  }
}
