@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.footer {
  padding: rem(88) 0 24px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      opacity: 1;
    }
  }

  &__list {
    display: flex;
    gap: 24px;
  }
}
