@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.hero {
  $root: &;

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__content {
    width: 100%;
    max-width: 495px;
  }

  &__image {
    overflow: hidden;
    border-radius: var(--radius-big);
  }

  p {
    margin-bottom: 48px;
  }



  &--tour {
    #{$root}__content {
      max-width: 720px;
    }
  }

  &--gallery {
    #{$root}__content {
      max-width: 850px;
    }
  }

  // @include media(tablet) {
  //   &__inner {
  //     min-height: 450px;
  //   }

  //   &__content {
  //     max-width: 100%;
  //     margin-bottom: 0;
  //   }
  // }

  // @include media(mobile-m) {
  //   &__inner {
  //     min-height: 400px;
  //   }

  //   .btn {
  //     max-width: 100%;
  //   }
  // }
}
