@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.nav {
  $root: &;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  &__list {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  &__item {
    &:not(:last-of-type) {
      margin-right: 24px;
    }
  }

  &__link {
    position: relative;
    font-size: 16px;
    line-height: 1.25;
    transition: color 0.3s linear;

    &:hover {
      color: var(--color-blue-600);
    }

    &.true {
      color: var(--color-blue-600);
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 8px;
  }


}
