@use "../utils/functions/" as *;
@use "../utils/mixins" as *;

.policy {
  padding: rem(80) 0;

  &__content {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  h1,
  h2 {
    color: var(--color-orange-600);
  }

  h1 {
    margin-bottom: rem(48);
    font-size: clamp(1.875rem, 1.6667rem + 0.9259vi, 2.5rem);
  }

  h2 {
    margin-bottom: 24px;
    font-weight: var(--fw-600);
    font-size: clamp(1.5625rem, 1.4583rem + 0.463vi, 1.875rem);
  }

  p,
  li {
    font-size: 20px;
  }

  ul {
    margin-bottom: 20px;
    padding-left: 15px;
  }

  li {
    padding-left: 10px;

    &:not(:last-child) {
      margin-bottom: 3px;
    }

    &::marker {
      content: "✓";
      color: var(--color-orange-600);
    }
  }

  p {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  a {
    text-decoration: underline;
    color: var(--color-orange-600);
  }

  @include media(tablet) {
    padding: 30px 0;

    h1 {
      margin-bottom: 30px;
    }
  }
}
