@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.facts {
  &__inner {
    display: flex;
    gap: 32px;
  }

  &__list {
    width: 100%;
    max-width: 355px;
  }

  &__item {
    position: relative;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: -50px;
    //   height: 1px;
    //   width: 100%;
    //   background-color: var(--color-black);
    //   opacity: 0.5;
    // }

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  span {
    display: block;
    position: relative;
    font-size: clamp(2.8125rem, 0.5136rem + 10.8182vi, 10.25rem);
    line-height: 1.21;
    width: 100%;
    max-width: 100%;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: var(--color-black);
      opacity: 0.5;
    }
  }

  p {
    font-size: 20px;
    line-height: 1.2;
    opacity: 1;
  }
}
