@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.conservation {
  &__inner {
    display: flex;
    padding-left: max(16px, calc((100% - 1312px) / 2));
  }

  &__image {
    margin-left: 24px;
    width: calc(100% - 887px);

    img {
      height: 100%;
    }
  }

  &__desc {
    padding-top: 60px;
    width: 100%;
    max-width: 867px;
  }

  &__content {
    max-width: 810px;
    text-align: left;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 24px;
  }

  &__item {
    &::before {
      content: "";
      position: relative;
      display: block;
      margin-bottom: 16px;
      width: 64px;
      height: 64px;
      background-image: url("../images/icons/support.svg");
      background-position: 0 0;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &--efforts {
      &::before {
        background-image: url("../images/icons/efforts.svg");
      }
    }

    &--wildlife {
      &::before {
        background-image: url("../images/icons/wildlife.svg");
      }
    }

    &--guardians {
      &::before {
        background-image: url("../images/icons/guardians.svg");
      }
    }
  }

  h2 {
    margin-bottom: rem(48);
    text-align: center;
  }

  h3 {
    margin-bottom: 16px;
  }

  @include media(tablet-wide) {
    &__list {
      gap: 24px;
    }

    &__desc {
      max-width: 650px;
    }

    &__image {
      width: calc(100% - 650px);
    }
  }

  @include media(tablet) {
    h2 {
      margin-bottom: 30px;
    }

    &__desc {
      max-width: 450px;
    }

    &__image {
      width: calc(100% - 450px);
    }
  }

  @include media(mobile-l) {
    &__inner {
      flex-direction: column-reverse;
      padding-right: 16px;
    }

    &__image {
      margin: 0;
      width: 100%;

      img {
        width: 100%;
        aspect-ratio: 2/1;
      }
    }

    &__desc {
      max-width: 100%;
    }
  }

  @include media(mobile-m) {
    &__list {
      grid-template-columns: 1fr;
    }
  }
}
