@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.explore {
  &__item {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      background: var(--gradient-grey);
      inset: 0;
    }

    &:not(:last-child) {
      margin-bottom: rem(48);
    }
  }

  &__desc {
    position: relative;
    z-index: 1;

    p {
      &:first-of-type {
        margin-bottom: 16px;
      }
    }
  }

  @include media(tablet) {
    &__item {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  @include media(mobile-l) {
    &__item {
      grid-template-columns: 1fr;
    }

    &__desc {
      grid-row: 1 / span 1;
    }

    &__image {
      img {
        width: 100%;
        aspect-ratio: 2/1;
      }
    }
  }
}
